
$naranja: #F39237;
$naranja2: #C75000;
$gris: #C1BFB5;
$gris-oscuro: grey;
$blanco: whitesmoke;
$negro: black;
$rojo: #C02B21;
$violeta: #4A2040;
$verde: #386641;
$azul: #006494; 


$fondo-naranja:radial-gradient(circle, yellow, orange);
$fondo-rojo:radial-gradient(circle, lightcoral, tomato);
$fondo-violeta:radial-gradient(circle, lightcoral, purple);
$fondo-verde:radial-gradient(circle, palegreen, yellowgreen);
$fondo-azul:radial-gradient(circle, lightblue, deepskyblue);