.contacto-text {
    /*background-color:whitesmoke;*/
    background-image:$fondo-azul;
    border:solid 3px $negro;
    margin:0;
    padding:8px 13px;
    font-size:25px;
    transform:skew(-15deg);
}

.c5{
    display: flex;  
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin-top: 15%;
  }

  .contacto-form{
      color: $fondo-violeta;
   width:100%; 
   display: flex;  
   flex-direction: row;
   flex-wrap: nowrap;
   justify-content: space-between;
   margin: 0;
   padding: 20px 10px 30px 10px;
  }

  .c1-contacto{
    margin: 5px;
    padding: 5px;
    display: flex; 
    flex-direction: column;
    justify-content: flex-start;  
    align-items: flex-start;

    div{
        margin: 5px;
    }
  }

  
  .c2-contacto{
    margin: 5px;
    padding: 5px;
    display: flex; 
    flex-direction: column;
    justify-content: flex-start;  
    align-items: flex-start;
  }

  .c3-contacto{
    margin: 5px;
    padding: 5px;
    display: flex; 
    flex-direction: column;
    justify-content: flex-start;  
    align-items: flex-start;
  }

  .contacto-boton {
    background-color:whitesmoke;
    border:solid 3px $negro;
    padding:5px 10px;
    font-size:15px;
    transform:skew(-15deg);
    color: black;
}


/* Viñeta de colores!!! */

.comic1 {
    display:flex;
    flex-wrap:wrap;
    font-family:'Comic Sans', cursive;
    padding:1vmin;
  }
  
  .panel1 {
    background-color:#fff;
    border:solid 2px #000;
    box-shadow:0 6px 6px -6px #000;
    display:inline-block;
    flex:1 1;
    height:200px;
    margin:1vmin;
    overflow:hidden;
    position:relative;
  }
  
  .text1 {
    background-color:#fff;
    border:solid 2px #000;
    margin:0;
    padding:3px 10px;
  }
  
  .top-left1 {
    left:-6px;
    position:absolute;
    top:-2px;
    transform:skew(-15deg);
  }
  
  .bottom-right1 {
    bottom:-2px;
    position:absolute;
    right:-6px;
    transform:skew(-15deg);
  }
  
  .speech1 {
    background-color:#fff;
    border:solid 2px #000;
    border-radius:12px;
    display:inline-block;
    margin:.5em;
    padding:.5em 1em;
    position:relative;
  }
  
  .speech1:before {
    border:solid 12px transparent;
    border-left:solid 12px #000;
    border-top:solid 12px #000;
    bottom:-24px;
    content:"";
    height:0;
    left:24px;
    position:absolute;
    transform:skew(-15deg);
    width:0;
  }
  
  .speech1:after {
    border:solid 10px transparent;
    border-left:solid 10px #fff;
    border-top:solid 10px #fff;
    bottom:-19px;
    content:"";
    height:0;
    left:27px;
    position:absolute;
    transform:skew(-15deg);
    width:0;
  }
  
  .panel1:nth-child(1) {
    flex-basis: 800px;
  }
  .panel1:nth-child(2), .panel1:nth-child(3), .panel1:nth-child(4), .panel1:nth-child(5) {
    flex-basis: 200px;
  }
  .panel1:nth-child(6) {
    flex-basis: 800px;
  }
  
  /* background colours */
  
  .panel1:nth-child(1) {
    background-image: url("../img/index/recepcion.jpg");
    background-position: right 20%;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .panel1:nth-child(2) {
    background-image:$fondo-naranja;
  }
  
  .panel1:nth-child(3) {
    background-image:radial-gradient(circle, palegreen, yellowgreen);
  }
  
  .panel1:nth-child(4) {
    background-image:radial-gradient(circle, lightcoral, tomato);
  }

  .panel1:nth-child(5) {
    background-image:radial-gradient(circle, lightblue, deepskyblue);
  }
  .panel1:nth-child(6) {
    background-image:$fondo-violeta;
  }

  .pequena-h {
    @extend.pequena;
    border-radius: 6px;
  }