footer{
    /*margin: 100px 20px 5px 20px;*/
    width:100%;
    margin: 0;
    padding: 5px;
    border: solid 3px $negro;
    display: flex;  
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;

    a{
      @extend.a-main;
      font-weight: normal;
      font-size: 17px;
      color: $negro;
      text-align:center;
      /*border-style: inset;
      border-width: 3px;*/
      background-image:$fondo-naranja;
      /*background-color:$naranja;*/
      height: auto;
      padding: 10px 20px;
      margin: 5px;
    }
    p{
      font-family:'Comic Sans', cursive;
      color: $blanco;
    }

    .c5-foot{
      display: flex;  
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      margin: 5px;  
    }
  
  .c4-foot {
      @extend.c5-foot;
      align-items: center;
  }
  
  .pequena3{
    width: 5%; height: 5%;
  }

  }

  .fondo-foot{
    background-color:$negro;
    /*border-radius: 20px;*/
  }

 

  /*footer section{
    margin: 5px;
  }*/
